.bug-cluster {
    border-bottom: 1px $bug-border;
}

.bug-cluster-title {
    font-size: 18px;
    text-transform: capitalize;
}

.bug {
    color: $bug-color;
    border: $bug-border;
    border-width: $bug-border-width;
    background: $bug-background;
    font: $bug-font;
    position: relative;
    padding: $bug-padding;
}

.bug-open {
    margin-right: 18px;
}
 
.bug-icon {
    background: url("../img/bug-ico.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    margin: 20px 10px;
    top: 32%;
    width: 24px;
}

.bug-id {
    display: block;
    margin-bottom: 2px;
}

.bug-title {
    font: $bug-title-font;
    margin: $bug-title-margin;
}

.bug-title a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.bug-severity {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #d9d9d9 transparent transparent transparent;
}

.bug-severity.sev-1 {
    display: none;
}

.bug-severity.sev-2 {
    border-color: #FF9000 transparent transparent transparent;
}

.bug-severity.sev-3 {
    border-color: #D00A15 transparent transparent transparent;
}

.bug-product-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}

.bug-info.text-right {
    float: right;
    position: absolute;
    right: 7px;
    top: 7px;
}

.bug-status {
    font-weight: $bug-status-font-weight;
    margin-bottom: 2px;
}

.bug-status-code {
    padding: 0 2px;
    font-size: .9em;
    border-radius: 2px;
}

.bug-Closed {
    color: $bug-closed-color;
}

.bug-Open {
    color: $bug-open-color;
}

.bug-status.bug-Closed .bug-status-code {
    @include background-opacity($bug-closed-color, 0.1);
    border: 1px solid $bug-closed-color;
}

.bug-status.bug-Open .bug-status-code {
    @include background-opacity($bug-open-color, 0.1);
    border: 1px solid $bug-open-color;
}

.bug-classification {
    border: 1px solid $bug-classification-border-color;
    color: $bug-classification-color;
    @include background-opacity($bug-classification-border-color, 0.1);
    display: inline-block;
    padding: 0 5px;
    font-weight: $bug-classification-font-weight;
    margin-bottom: 1px;
}

.bug-last-update strong {
    color: #252525;
}
.bug-actions {
    position: absolute;
    right: -24px;
    top: 0;
    border: $bug-border;
    border-width: 1px 1px 1px 0;
    background: $bug-background;
    right: -30px;
    top: -8px;
    padding: 3px;
}