@media only screen and (max-width:420px) {
    .bug-title a {
        width: 25%;
    }
}

@media only screen and (max-width:480px) {
    .bug-title a {
        width: 25%;
    }
    .bug-product-details {
        width: 45%;
    }
    .bug-icon {
        margin: 20px 5px;
    }
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:1140px) {}

@media only screen and (min-width:1280px)  {}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}