* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 62.5%;
}

body {
    font: $body-font-weight $body-font-size/#{$body-font-line-height} $body-font-family;
    background: $body-bg-color;
    color: $body-color;
}

a, a:visited {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-text-decoration;
} 