.bug-icons {
    background: url("../img/icons-sprite.png") no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.bug-icons.bug-view-icon {
    background-position: -16px -16px !important;
}

.bug-icons.bug-view-icon:hover {
    background-position: -32px -16px !important;
}

.bug-icons.bug-edit-icon {
    background-position: -16px -32px !important;
}

.bug-icons.bug-edit-icon:hover {
    background-position: -32px -32px !important;
}

.bug-icons.bug-close-icon {
    background-position: -16px -48px !important; 
}

.bug-icons.bug-close-icon:hover {
    background-position: -32px -48px !important;
}

.bug-icons.bug-modify-icon {
    background-position: -16px -64px !important;
}

.bug-icons.bug-modify-icon:hover {
    background-position: -32px -64px !important;
}