// General
$body-bg-color: #F2F2F2;
$body-color: #939393;
$body-font-family: 'Helvetica Neue', Helvetica, Arial;
$body-font-size: 13px;
$body-font-weight: 300;
$body-font-line-height: 1.6;
$link-color: #3F75BA;
$link-hover-color: #002B7C;
$link-hover-text-decoration: none;

// Bug
$bug-cluster-margin-bottom: 15px;
$bug-padding: 5px;
$bug-font: 300 12px/1.6 $body-font-family;
$bug-background: #FFF;
$bug-border: solid #E5E5E5;
$bug-border-width: 1px 1px 0;
$bug-color: $body-color;
$bug-link-color: $link-color;
$bug-title-font: 600 16px/1.4 $body-font-family;
$bug-title-color: $link-color;
$bug-title-hover-color: $link-color;
$bug-title-margin: 0;
$bug-closed-color: #468732;
$bug-open-color: #AF3536;
$bug-status-font-weight: 600;
$bug-classification-color: #8F8039;
$bug-classification-font-weight: 600;
$bug-classification-border-color: #FFDE81; 