<div ng-controller="BugsCtrl">
    <div class="bug-cluster container" ng-repeat="(key, list) in Bugs">
        <h3 class="bug-cluster-title">{{key}} Bugs</h3>
        <div class="bug row bug-{{key}}" ng-repeat="bug in list | orderBy:'id'">
            <div class="bug-severity {{bug.severity}}"></div>
            <div class="bug-details col-md-9 col-sm-8 col-xs-9">
                <div class="bug-icon"></div>
                <span class="bug-id">{{bug.id}}</span>
                <h3 class="bug-title"><a href="#" title="{{bug.title}}">{{bug.title}}</a> <span class="bug-icons bug-view-icon"></span> <span class="font-300">|</span> <span class="bug-icons bug-edit-icon"></span></h3>
                <div class="bug-product-details">{{bug.product.name}} - {{bug.product.version_edition}} &raquo; {{bug.product.version_edition}} &raquo; {{bug.product.component}} &raquo; {{bug.product.subcomponent}}</div>
            </div>
            <div class="bug-info text-right">
                <div class="bug-status bug-{{bug.status.title}}"><span class="bug-status-code">{{bug.status.code}}</span> <span class="bug-status-title">{{bug.status.title}}</span>, <span class="bug-status-name">{{bug.status.name}}</span></div>
                <div class="bug-classification">{{bug.clasification}}</div>
                <div class="bug-last-update">Updated: <strong>{{bug.last_update}}</strong></div>
                <div ng-if="bug.status.title === 'Open'" class="bug-actions">
                    <span class="bug-icons bug-close-icon"></span><br/>
                    <span class="bug-icons bug-modify-icon"></span>
                </div>
            </div>
        </div>
    </div>
</div> 