<!doctype html>
<html class="no-js" lang="fr" ng-app="ng-app">
<head>
  <meta charset="utf-8">
  <title ng-bind="seo.title"></title>
  <meta name="description" content="{{ seo.description }}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link href="assets/css/styles.min.css" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

</head>
<body ng-cloak>

<header class="header" role="banner">
  <div ng-include="'layouts/header.html'"></div>
</header>

<div class="main-container" ng-controller="_MasterController">
  <main class="main" role="main">

    <ng-view></ng-view>

  </main>
</div>

<footer class="footer" role="contentinfo">
  <div ng-include="'layouts/footer.html'"></div>
</footer>

<script src="assets/js/scripts.js"></script>

</body>
</html>
 